<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css"
    />
    <link rel="”stylesheet”" href="/public/css/cal-heatmap.css" />
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <style>
      body { font-family: 'Poppins'; }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/datepicker.js"></script>
    <title>Lyfbro</title>
  </head>
  <body class="dark:bg-slate-900 h-auto">
    <header class="bg-gray-800">
      <nav>
      {{#if logged_in}}
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div
              class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
            >
              <div class="flex flex-shrink-0 items-center">
                <h1
                  class="text-3xl dark:text-green-500 font-black tracking-wide "
                > <a href="/">Lyfbro</a></h1>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <!-- login or logout -->
                <button class="no-button dark:text-green-500 decoration-2 underline-offset-2 hover:underline" id="logout">logout</button>
        {{else}}
        <div class="mx-auto max-w-7xl pr-8 flex justify-between relative flex h-16 items-center">
          <a href="/"><img src="/images/LyfbroSmallLogo.png" alt="small-logo" class="lg:pr-6"></a>  
           <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
             <a class="dark:text-green-500" href="/login">login</a>
           </div>
        </div>
        {{/if}}
      </nav>
    </header>
    <!-- Body -->
    <main class="dark:bg-slate-900 dark:text-green-100 m-16 h-fit">
      {{{body}}}
    </main>
  
    <footer class='bg-slate-900 flex justify-center p-4'>
        <p class='text-slate-50 text-xs'>
        © 2023 Lyfbro. All rights reserved.
        </p>
    </footer>

    <!-- for logged in users -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>