<div class="w-full h-screen">
<div class="bg-gray-800 p-2 rounded">
<label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Activity</label>
<select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 category">
  <option selected>Choose Activity</option>
  <option value="1" data="mindfulness">Mindfulness</option>
  <option value="2" data="strength">Strength</option>
  <option value="3" data="cardio">Cardio</option>
</select>

<label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mood</label>
<select id="feeling-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 feeling-name">
  <option selected>Choose Mood</option>
  <option value="1">Worst</option>
  <option value="2">Bad</option>
  <option value="3">Neutral</option>
  <option value="4">Good</option>
  <option value="5">Best</option>
</select>

<label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Date</label>
<div class="relative">
  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
  </div>
  <input datepicker datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 date" placeholder="Select date" id="date">
</div>


<div class="mb-6">
    <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Time Spent (in minutes)</label>
    <input type="text" id="large-input" class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 time-spent" value="0">
</div>

<div class="flex justify-center">
<button type="button" class="w-25 hover:scale-110 duration-200 text-gray-900 bg-gradient-to-r from-green-400 via-green-500 to-green-600 focus:ring-4 focus:outline-none focus:ring-black-300 dark:focus:ring-green-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 log-activity" id="#log-activity">Submit</button>
</div>
</div>
</div>

<script type="text/javascript" src="/js/activity.js"></script>